:root { 
  --scale: 1;
  --offset-x: 0px;
  --offset-y: 0px;
}

* {
  margin: 0; padding: 0; border: 0;
  box-sizing: border-box;
  font-family: sans-serif; font-size: 16px;
}
html, body, .wrapper { width: 100%; height: 100%; }
body { color: #fff; }

article { 
  position: absolute;
  left: calc(50% + var(--offset-x));
  top: calc(50% + var(--offset-y));
  transform: translate(-50%, -50%) scale(var(--scale));
  min-width: 1em;
  min-height: 1em;
  background-color: #000000;
}
header { width: 100%; background-color: #AAAAAA; z-index: 100; }
main {
  overflow: hidden; cursor: move;
  height: calc(100% - 40px);
  position: relative;
  background-color: #444444;
}
span { display: inline-block; vertical-align: middle; }

button { cursor: pointer; }
button:hover { background-color: #BBBBBB; }
button:active { background-color: #AAAAAA; }
button, input {
  min-width: 36px; max-width: 100px; height: 36px;
  margin: 2px; border-radius: 8px;
}
button, input, .title { padding: 0 10px; }
.title { line-height: 40px; height: 40px; }

@media screen and (max-width: 715px) {
  main { height: calc(100% - 120px); }
  span { display: block; text-align: center; }
}